@font-face {
   font-family: 'TildaSans-VF';
   font-display: swap;
   src: url('file:///Users/feshinkaa/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-07-26_200758/fonts/TildaSans-VF/font.ttf');
}
